.slick__dots.slick-dots li button::before {
  display: none;
}
.partner-img {
  max-height: 100px;
}

.engo-popup.active {
  visibility: visible;
  opacity: 1;
  top: 0 !important;
  height: auto;
  width: auto;
  border-radius: 5px;
}

.engo-popup {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  position: fixed;
  z-index: 99999999999999999;
  top: 0;
  height: 0;
  width: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.engo-popup.active .overlay {
  width: 100%;
  height: 100%;
}

.engo-popup .overlay {
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0 !important;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 0;
  height: 0;
}
.newletter-popup.engo-popup .content {
  background: #fff;
  min-height: 100px;
}

.engo-popup.active .content {
  max-height: 100%;
}

.engo-popup .content {
  //max-width: 800px;
  margin: 0 auto;
  text-align: left;
  position: relative;
  //min-width: 490px;
  -webkit-transition: all 300ms ease-in-out;
  -moz-transition: all 300ms ease-in-out;
  -ms-transition: all 300ms ease-in-out;
  -o-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.mypage {
  max-height: 75vh;
  overflow: auto;
  padding: 20px;
  border-radius: 5px;
}

@media screen and (min-width: 1200px) {
  .newletter-popup.engo-popup .content {
    width: 550px;
    border-radius: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .engo-popup .content {
    max-width: 1024px;
    width: 900px;
  }
}
@media only screen and (max-width: 768px) {
  .engo-popup .content {
    width: 350px;
    margin: auto;
    margin-top: 30px;
  }
}
@media only screen and (max-width: 500px) {
  .engo-popup .content .mypage > p > span {
    font-size: 12px;
  }
  .mypage {
    padding: 10px 20px 0;
  }
}

@media only screen and (max-width: 500px) {
  .mypage {
    padding: 10px 20px;
  }
}
.mypage-block {
  justify-content: center;
}
.mypage-block__content {
  font-size: 12px;
}

.accept {
  background: #2b3695;
  width: 50%;
  text-align: center;
  color: #fff;
  padding: 2.5px;
}

.no-accept {
  background: #ffcb31;
  width: 50%;
  text-align: center;
  color: #fff;
  padding: 2.5px;
}
.closePopup {
  background: url(//theme.hstatic.net/200000142961/1000600858/14/fancybox_sprite.png?v=739) top left
    no-repeat;
  border: none;
  outline: none;
  position: absolute;
  top: -15px;
  right: -15px;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 50%;
}
.newletter-popup.engo-popup .content {
  background: #fff;
  min-height: 100px;
}

.newletter-popup.engo-popup .content .mypage > p {
  text-align: justify !important;
}

@media only screen and (max-width: 500px) {
  .newletter-popup.engo-popup .content .mypage > p > span {
    font-size: 12px !important;
  }
}
 @media (min-width: 576px) {
   .productstype {
     width:  100%;
     height: 300px;
     background-color: #ffcb31;
   }
 }
 @media (max-width: 576px) {
  .productstype_mobile {
    margin-top: 40px;
    width: 100%;
    height: 150px;
    background-color: #007bff;
  }
 }