
@media screen and (min-width: 992px){
  .col-left__divider{
    border-left: 1px solid $gray-300;
  }
}
@media screen and(max-width: 567px){
  .help-center{
    flex-direction: column !important;
  }
  .help-contact{
    border: none !important;
  }
}
@media screen and( max-width: 576px){
  .job-department-desc{
    text-align: left;
  }
  .job-department-info{
   flex-direction: column;
   text-align: left;
  }
}
.post-item{
  display: flex;
  flex-direction: column;
  width: 100%;
  transition: 0.3s linear;
  margin: 0 0 1rem;
}
.post-item:hover {
  box-shadow: 1px 2px 3px $gray-600;
}
.post-item:hover .post-item__badge-wrapper{
  background: $primary;
}
.post-item:hover .post-item__badge-day,
.post-item:hover .post-item__badge-month{
  color: $white;
}
.post-item:hover .post-item__content-description{
  color: $gray-800;
}
.post-item__img{
  position: relative;
  height: auto;
  overflow: hidden;
  // padding-top: 100%;
  background-position: 50% 50%;
  background-size: cover;
  cursor: pointer;
}
.post-item__img-item{
  width: 100%;
  height: 100%;
  max-height:330px;
  object-position: 50% 50%;
  object-fit: cover;
}
.post-item__badge{
  display: table;
  position: absolute;
  top: 7%;
  left: 0;
  pointer-events: none;
}
.post-item__content{
  padding: 0.75rem 1rem;
}
.post-item__content-title{
  text-align: center;
  font-size: 1.15em;
  line-height: 1.3;
  color: $gray-800;
  font-weight: 700;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.post-item__content-divider{
  margin: 1rem auto;
  height: 2px;
  width: 100%;
  max-width: 30px;
  background: $gray-300;
}
.post-item__badge-wrapper{
  display: table-cell;
  background: $white;
  line-height: 0.85;
  width: 100%;
  height: 100%;
  border: 2px solid $primary;
  padding: 0.5rem;
  transition: 0.3s linear;
}
.post-item__content-description{
  text-align: center;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.9em;
  color: $gray-600;
  transition: 0.3s linear;
  cursor: pointer;
}
.post-item__badge-day, .post-item__badge-month{
  color: $primary;
  transition: 0.3s linear;
  font-weight: bold;
}
.post-item__badge-month{
  font-size: 0.7rem;
  margin-top:0.1rem;
}
.news-search{
  display: flex;
  height: 38px;
}
.news-search__input{
  box-sizing: border-box;
  border: 1px solid $gray-300;
  padding: 0 0.75em;
  height: 2.507em;
  font-size: 0.97em;
  border-radius: 0;
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
  background-color: $white;
  color: $gray-800;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  transition: 0.3s linear;
  flex: 1;
}
.news-search__button{
  background: $primary;
  min-width: 2.5em;
  color: $white;
}
.resent-post-item{
  margin-bottom: 0.3rem;
  border-bottom: 1px solid $gray-300;
  color: $primary;
}
.resent-post__link, .faq-link{
  transition: 0.3s linear;
  cursor: pointer;
}
.resent-post__link{
  color: $primary;
}
.faq-link{
  color: $gray-800;
}
.resent-post__link:hover,
.resent-post__link:active{
  color: $black;
}
.news-banner, .recent-post {
  width: 100%;
  text-align: left;
  display: block;
} 
.news__title{
  font-weight: 700;
  text-transform: uppercase;
  color: $black;
}
.news__divider{
  margin: 1rem 0;
  text-align: left;
  height: 3px;
  width: 100%;
  max-width: 30px;
  background: $gray-400;
}
.news-banner__img{
  max-width: 300px;
  width: 100%;
}
.news-rencent-post{
  list-style: none;
}
.recent-post .list-unstyled .resent-post-item:last-child{
  border: none;
}

.wrapper{
  padding: 0 1rem;
}
.news-detai{
  width: 100%;
  text-align: center;
}
.news-header{
  padding: 0 1rem 1rem;
}
.news-header__category{
  text-align: center;
  margin-bottom: 0.5rem;
}
.news-header__link{
  line-height: 1.05;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  display: inline-block;
  color: $primary;
  cursor: pointer;
}

.news-header__poston{
  text-align: center;
  color: $gray-600;
  text-transform: uppercase;
}
.jobs-item{
  -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.13);
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.13);
  border: 1px solid $gray-300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  transition: all .3s ease;
}
.jobs-item:hover{
  -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.33);
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.33);
}
.jobs-item:hover .jobs-item__readmore{
  color: $gray-600
}
.jobs-item__readmore{
  font-size: 0.7rem;
  color: $gray-400;
  transition: 0.3s ease;
}
.jobs a:hover,
.jobs a:active {
  color: $primary;
}
.banner{
  width: 100%;
  max-height: 500px;
  position: relative;
  overflow: hidden;
}
.banner-conent, .banner-overlay{
  position: absolute;
}
.banner-img img {
  max-width: 100%;
  opacity: 0;
}
.banner-overlay{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.53);
}
.banner-conent{
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.banner-title{
  font-size: 3rem;
}
.wrapper{
  padding: 0 1rem 1rem;
}
.box-image{
  padding: 2rem 0;
}
.message-founder__content{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
}
.job-item{
  display: grid;
}
.jobs{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 1fr;
  grid-gap: 1rem;
}
.message-founder__img{
  width: 25%;
}
.job-detail{
  padding: 1rem 0;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}
.job-label{
  margin-right: 0.5rem;
}
.job-detail__wrapper{
  max-width: 800px;
  margin: 0 auto;
  padding: 1.5rem;
}
.job-department-info{
  display: flex;
  margin-bottom: 1.5rem;
  -webkit-box-pack: center;
  justify-content: center;
  flex-wrap: wrap;
}
.text-small {
  font-size: 0.8rem;
}
.job-detail-form{
  border: 1px solid $gray-300;
  padding: 2rem 1rem;
  text-align: center;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0,0,0,.13);
  box-shadow: 0 5px 15px 0 rgba(0,0,0,.13);
}
.form-inner{
  padding: 2rem;
}
.help-contact{
  display: inline-flex;
  margin: 0 0.5rem;
  align-items: center;
}
.help-contact i{
  flex-shrink: 0;
}
.help-center{
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}
.help .news-search{
  display: inline-flex;
}
.banner-title{
  text-transform: capitalize;
  font-weight: 800;
}
.banner-img{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  min-height: 500px;
}
.banner-text{
  font-weight: bold;
}
.form__input-group textarea{
  padding-left: 2.75em;
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
  width: 100%;
}
.authentication .text-small{
  font-size: 0.8rem!important;
}
.tab-content{
  min-height: 150px;
}
.product__details{
  overflow: auto;
}
.flex-1{
  flex: 1;
}