
.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
  }
  .alert-heading {
    color: inherit;
  }
  .alert-link {
    font-weight: 700;
  }
  .alert-dismissible {
    padding-right: 4rem;
  }
  .alert-dismissible .close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.75rem 1.25rem;
    color: inherit;
  }
  .alert-primary {
    color: #197958;
    background-color: #ccf0e2;
    border-color: #b8ead6;
  }
  .alert-primary hr {
    border-top-color: #a4e4cb;
  }
  .alert-primary .alert-link {
    color: #104f39;
  }
  .alert-secondary {
    color: #9a7a29;
    background-color: #fef0d0;
    border-color: #fdeabd;
  }
  .alert-secondary hr {
    border-top-color: #fce2a4;
  }
  .alert-secondary .alert-link {
    color: #725a1e;
  }
  .alert-success {
    color: #2e7343;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  .alert-success hr {
    border-top-color: #b1dfbb;
  }
  .alert-success .alert-link {
    color: #1f4f2e;
  }
  .alert-info {
    color: #25707e;
    background-color: #d1ecf1;
    border-color: #bee5eb;
  }
  .alert-info hr {
    border-top-color: #abdde5;
  }
  .alert-info .alert-link {
    color: #194d57;
  }
  .alert-warning {
    color: #9e8022;
    background-color: #fff3cd;
    border-color: #ffeeba;
  }
  .alert-warning hr {
    border-top-color: #ffe8a1;
  }
  .alert-warning .alert-link {
    color: #745e19;
  }
  .alert-danger {
    color: #8b3743;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  .alert-danger hr {
    border-top-color: #f1b0b7;
  }
  .alert-danger .alert-link {
    color: #662931;
  }
  .alert-light {
    color: #9a9da1;
    background-color: #fefefe;
    border-color: #fdfdfe;
  }
  .alert-light hr {
    border-top-color: #ececf6;
  }
  .alert-light .alert-link {
    color: #808388;
  }
  .alert-dark {
    color: #343a40;
    background-color: #d6d8d9;
    border-color: #c6c8ca;
  }
  .alert-dark hr {
    border-top-color: #b9bbbe;
  }
  .alert-dark .alert-link {
    color: #1d2124;
  }