@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

@font-face {
  font-family: 'UTM AVO';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../../fonts/utm-avo.woff) format('woff');
}
@font-face {
  font-family: 'UTM AVO';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(../../fonts/utm-avobold.woff) format('woff');
}
* {
  font-family: 'UTM AVO', Arial, Helvetica, sans-serif;
  touch-action: manipulation;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1,
.h1 {
  font-size: 2.5rem;
}
@media (max-width: 1200px) {
  h1,
  .h1 {
    font-size: calc(1.375rem + 1.5vw);
  }
}
h2,
.h2 {
  font-size: 2rem;
}
@media (max-width: 1200px) {
  h2,
  .h2 {
    font-size: calc(1.325rem + 0.9vw);
  }
}
h3,
.h3 {
  font-size: 1.75rem;
}
@media (max-width: 1200px) {
  h3,
  .h3 {
    font-size: calc(1.3rem + 0.6vw);
  }
}
h4,
.h4 {
  font-size: 1.5rem;
}
@media (max-width: 1200px) {
  h4,
  .h4 {
    font-size: calc(1.275rem + 0.3vw);
  }
}
h5,
.h5 {
  font-size: 1.25rem;
}
h6,
.h6 {
  font-size: 1rem;
}
.lead {
  font-size: 1.25rem;
  font-weight: 300;
}

small,
.small {
  font-size: 80%;
  font-weight: 400;
}
